---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PresentationCard from "../components/PresentationCard.astro"

---

<Layout title="Hi! I'm Gabriel">
  <main class="w-full min-h-screen flex items-center">
    <PresentationCard/>
  </main>
</Layout>
