<div class="w-full lg:w-1/2 flex flex-col gap-10">
  <p class="text-[#9e9fa2] text-justify">
    I'm a higher fifth Computer Science student in the University of Engineering and Technology where I have a complete scholarship granted by BCP (Banco de crédito del Perú). I'm also a passionate of computing, algorithms and math. In the other hand I belong to the university's official table tennis team and like playing soccer and drums.
  </p>
  <nav class="w-full flex justify-center">
    <ul class="w-full flex justify-around">
      <li class="">
        <button
          class=" inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
        >
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            <a href="/projects">See my Projects</a>
          </span>
        </button>
        <li class="">
          <button
            class=" inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              <a href="/about">About Me</a>
            </span>
          </button>
        </li>
      </li>
    </ul>
  </nav>
</div>
